/*
 * Colors
 * ========================================================================== */
$white:                 #FFF;
$black:                 #000;
$primary-color:         #226C9B;

$blue-dark:             #0C3B55;

$table-row-even-background-color:   #F0F0F4;
$table-row-background-color:        #F7F7F9;
$table-row-hover-color: #78be20;



/*
 * Table
 * ========================================================================== */
$thead-row-height:      50px;



